<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fastlms</title>
</head>
<body>

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function () {
        $(".bxslider").bxSlider({
            mode: 'fade',
            auto: true,
            autoControls: false,
            stopAutoOnClick: true,
            pager: true,
            slideWidth: 1000
        });
    });
</script>

<ul class="bxslider" th:each="x : ${list}">
    <li><img src="${x.url}"/></li>
</ul>

</body>
</html>
